# Application
NODE_ENV=development
PORT=3000
HOST=localhost
API_URL=http://localhost:3000
CLIENT_URL=http://localhost:5173

# Database
MONGODB_URI=mongodb://localhost:27017/finance-dashboard

# JWT
JWT_ACCESS_SECRET=your-super-secret-access-key
JWT_REFRESH_SECRET=your-super-secret-refresh-key
JWT_ACCESS_EXPIRY=10d
JWT_REFRESH_EXPIRY=30d

# Logging
LOG_DIR=src/logs
LOG_LEVEL=info
